* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: ubuntu, arial;
    overflow: hidden;
}

.gallery {
    min-height: 100vh;
    position: relative;
}

.gallery .title {
    position: absolute;
    top: 95%;
    left: 5%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.gallery h1 {
    font-size: 60px;
    color: yellow;
    background-color: black;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    top: 5%;
    right: 5%;
    height: 90%;
    width: 60%;
    /* background-color: gray; */
}

.gallery a {
    position: relative;
    overflow: hidden;
    flex-basis: calc(50% - 40px);
    height: 20%;
    margin: 0 20px;
    /* background-color: black; */
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    min-width: 100%;
    min-height: 100%;
}